# Eclipse
/.classpath
/.project
/.settings

# IntelliJ
.idea/
*.iml

# Maven
target/

# STS
.springBeans

# exclude jar for maven wrapper
!.mvn/wrapper/maven-wrapper.jar`

# postgres data
local-env/data
samsdb

# OSX
.DS_Store
.factorypath

# node
node_modules/

### JEnv ###
# JEnv local Java version configuration file
.java-version

# Used by previous versions of JEnv
.jenv-version

#graphql config
.graphqlconfig
/target/
